.TextArea {
    display: flex;
    align-items: center;
    width: 90%;
    margin: .5rem 0;
}

.TextArea label {
    flex: 1;
    display: flex;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 0 1rem;
    box-sizing: border-box;
}

.TextArea textarea {
    height: 7rem;
    width: 70%;
    resize: none;
    padding: 1rem;
    background: #FFF;
    border: 1px solid #CCC;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: inherit;
}

.false textarea {
    border: 1px solid #F00;
}

.true textarea {
    border: 1px solid #0C0;
}

@media only screen and (max-width: 600px) {
    .TextArea {
        flex-direction: column;
    }
    .TextArea label {
        width: 100%;
        padding: .5rem 0;
    }
    
    .TextArea textarea {
        width: 100%;
    }
}